@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#extends{
  width: 100%;
  @include flex-space-around();

  li{
    width: 25%;
    margin: 7px 0;
    @include flex-center(column);

    .image{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;

      .van-image{
        width: 100%;
        height: 100%;
      }
    }
    .label{
      margin-top: 3px;
      font-size: 13px;
    }
  }
}