@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  @include flex-center(column);
  z-index: $header-index;
  
  .box{
    width: 96%;
  }
}