@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#header{
  position: fixed;
  height: 35px;
  top: 0;
  width: 100%;
  box-shadow: $header-shadow;
  background-color: #fff;
  font-size: 17px;
  @include flex-center(column);
  z-index: $header-index;

  .goback{
    position: absolute;
    left: 3px;
    top: 0;

    img{
      width: 32px;
    }
  }
} 