@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#messageList{
  
  li{
    margin-top: 15px;

    .user{
      width: 100%;
      height: 38px;
      padding: 2px;
      display: flex;

      .user-info{
        flex-grow: 1;
        height: 100%;
        display: flex;

        .avatar{
          width: 36px;
          height: 36px;
          border: 1px solid #DADADA;
          border-radius: 50%;
          overflow: hidden;

          .van-image{
            width: 100%;
            height: 100%;
          }
        }
        .name-time{
          height: 100%;
          margin-left: 5px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          
          .name{
            font-size: 14px;
            margin-top: 1px;
          }
          .time{
            font-size: 10px;
            margin-top: 3px;
          }
        }
      }
      .attent{
        width: 80px;
        @include flex-center(column)
      }
    }
    .message-type{
      width: 100%;
      height: 25px;
      font-size: 14px;
      line-height: 25px;
      padding-left: 5px;
      color: #314FA4;
    }
    .detail{
      width: 100%;
      height: 60px;
      padding: 5px;
      display: flex;
      background-color: #F8F8F8;

      .image{
        width: 30%;
        height: 100%;
        background-color: #FFDBDB;

        .van-image{
          width: 100%;
          height: 100%;
        }
      }
      .desc{
        width: 70%;
        height: 100%;
        padding: 0 12px;
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
}