@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#postList{
  width: 100%;

  .postList-item{
    width: 100%;
    height: 75px;
    border-top: 1px solid $border-light;
    padding: 3px 0;
    display: flex;
    align-items: center;
    
    .image{
      width: 30%;
      height: 96%;

      .van-image{
        width: 100%;
        height: 100%;
      }
    }

    .section{
      width: 70%;
      margin-left: 5px;
      // background-color: #B9F9D5;

      .desc{
        height: 45px;
        font-size: 12px;
        line-height: 16px;
        color: $regular-text;
      }
      .operinfo{
        width: 100%;
        height: 20px;
        margin-top: 5px;
        @include flex-space-around();

        &-item{
          @include flex-center();
          
          .icon{
            @include flex-center();

            img{
              width: 15px;
            }
          }
          .label{
            font-size: 11px;
            margin-left: 3px;
            color: $regular-text;
          }
        }
      }
    }
  }
}