@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#find{
  width: 100%;

  .header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: $header-index;

    .navs{
      flex-grow: 1;
      display: flex;
      align-items: center;
      list-style: none;

      li{
        margin-left: 15px;
        color: $regular-text;
      }

      .li-active{
        font-size: 20px;
        color: #1E6ACA;
      }
    }

    .search{
      width: 50px;
      @include flex-center(column);
    }
  }

  .container{  /* 96%宽度的盒子，留下2%左右边距 */
    width: 100%;
    margin-bottom: 50px;
    @include flex-center();
    
    .articleList{
      margin-top: 50px;
      width: 97%;
    }
  }
}