@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#find{
  .navbar{
    width: 100%;
    height: 40px;
    background-color: #D1FFEE;
    display: flex;
    align-items: center;

    li{
      margin-left: 15px;
    }

    .li-active{
      font-size: 19px;
    }
  }
}