@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#message{
  @include flex-center();

  .main{  /* 导航栏 */
    width: 95%;
    margin-top: 50px;

    .message-list,
    .answer-list,
    .chat-list{
      min-height: 100vh;
      background-color: #DEF6F2;
    }
  }
}