@import '@/assets/scss/public/variables';
@import '@/assets/scss/public/mixins';

#message{
  @include flex-center();

  #main{  /* 导航栏 */
    width: 92%;
    margin-top: 50px;

    .van-tabs__line{
      background-color: #55A5F3;
    }

    .message-list,
    .answer-list,
    .chat-list{
      min-height: 100vh;
      margin-bottom: 55px;
    }
  }
}